* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-intro {
    background-color: deepskyblue;
    padding: 10px;
    text-align: center;
}

.box-intro p {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.box-intro ul li {
    display: inline;
}

.box-intro ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    display: inline-block;
    padding: 10px;
}

.box-content {
    text-align: center;
    margin: 30px;
}

.box-content img {
    width: 300px;
    height: 300px;
}

.box-content p {
    display: inline-block;
}

.box-foot {
    background-color: rgb(168, 192, 215);
    text-align: center;
    padding: 10px;
}